# Here is the information for creating a config.yaml: https://annotation.github.io/text-fabric/tf/advanced/settings.html
# Here is a good example: https://github.com/annotation/app-bhsa/blob/master/code/config.yaml
# check whether a list with (- - - ) works or whether I need to do a list with commas "a, b, c"
apiVersion: 3
dataDisplay:
  noneValues: 
  - none
  - unknown
  - null
  - NA
  - ''
  excludedFeatures:
  - reference
# sectionSep1: #this is to display sections well in table
# sectionSep2: #this is to display sections well in table
# showVerseInTuple: 
# textFormats:
# docs: reference to transcription.md
typeDisplay:
  book:
    label: 'Book: {book}'
    style: ""
  chapter:
    label: 'Chapter: {chapter}'
    style: ""
  verse:
    label: 'Verse: {verse}'
    style: ""
  word:
    featuresBare:
      - gloss
    features:
      - lemma
      - strongs

interfaceDefaults: {}
provenanceSpec:
  corpus: "Nestle 1904"
  version: "0.1.1"
  webUrl: "https://bibleol.3bmoodle.dk/text/show_text/nestle1904/<1>/<2>/<3>"

